:root{
    --header-bg: #fafaf9;
    --accents:#e7e5e4;
    --background-color:#e7e5e4;
    --sidebar-bg:#3b82f6;
    --sidebar-font-color:#fff;
}

html,body{
    box-sizing: border-box;
    background-color: var(--background-color);
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height:100vh;
    width:100vw;
    font-family:"Noto Sans",Arial, Helvetica, sans-serif;
}
/* Header */
header{
    background-color: var(--header-bg);
    grid-column: 2/-1;
}
.top-strip{
    padding:1em;
}
.top-strip>input{
    border:none;
    border-radius:1em;
    background-color: var(--accents);
    width:clamp(200px,40vw,1000px);
    height:25px;
}
/* Sidebar */
.sidebar{
    display:grid;
    grid-template-rows: 1fr 10fr ;
    grid-row:1/-1;
    background-color: var(--sidebar-bg);
    color:var(--sidebar-font-color);
    padding: 0 1em;
}
.logo{
    position:relative;
    padding: 2em;
    padding-bottom:0;
    box-shadow: 0 6px 5px -6px var(--accents);
}
.logo>svg{
    position:relative;
    top:1em;
}
.links{
    display:flex;
    flex-flow:column;
    font-size: 20px;
    font-weight: bolder;
}
.primary-links>li, .secondary-links>li{
    display:flex;
    gap:1em;
    width:15em;
}
.primary-links>li>svg, .secondary-links>li>svg{
    position:relative;
    top:0.6em;
}
.primary-links>li:hover p,.secondary-links>li:hover p{
    font-size: 24px;
    cursor:pointer;
}
.primary-links>li:hover>svg,.secondary-links>li:hover>svg
{
    width:40px !important;
    height:40px !important;
}
/* Main Content */
.container{
    display:grid;
    grid-template-columns: 4fr 1fr;
}
.article{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,250px));
    grid-column:1/3;
    gap:10px;
    border:5px solid black;
}
.article .card{
    background-color: #fff;
    border:5px solid red;

}
.announcements{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-column:3/4;
    border:5px solid black;
}

.announcements .card{
    border:5px solid red;
}